<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題提出</h1>


    <form action="indicate.cgi" method="POST">
       課題提出できましたか？<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
